$background-color: rgba(255, 255, 255, 0.966);
$grey-text: rgb(92, 85, 85);
$green-color: rgb(10, 88, 10);
body{
    font-family: 'Spartan', sans-serif;
}
header{
    background-color: $background-color;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    align-self: center;
    div{
        // border: 1px solid black;
        text-align: center;
        align-items: center;
        align-content: center;
        div:nth-child(2){
            color: rgb(170, 42, 42);
        }
        div:last-child{
            color: $grey-text;
            table{
                    border-top: 2px solid $green-color;
                    align-items: center;
                    padding-top: 15px;
                #call{
                    font-size: 10px;
                }
                .fa-phone-volume{
                    color: $green-color;
                    font-size: 30px;
                }
            }
        }
    }
}
#number{
    font-weight: bold;
    font-size: 16px;
    color:$grey-text;
}
.fa-toggle-off{
    color: $green-color;
    font-size: 25px;
    margin-left: 40px;
}
section{
    // width: 1970px;
    div{
        border: solid 1px black;
        background-color: $green-color;
        background: url('../src/assets/img/hands.PNG');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        height: 250px;
    }
}