/* line 4, scss/about_us.scss */
body {
  font-family: 'Spartan', sans-serif; }

/* line 7, scss/about_us.scss */
header {
  background-color: rgba(255, 255, 255, 0.966);
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  align-self: center; }
  /* line 16, scss/about_us.scss */
  header div {
    text-align: center;
    align-items: center;
    align-content: center; }
    /* line 21, scss/about_us.scss */
    header div div:nth-child(2) {
      color: #aa2a2a; }
    /* line 24, scss/about_us.scss */
    header div div:last-child {
      color: #5c5555; }
      /* line 26, scss/about_us.scss */
      header div div:last-child table {
        border-top: 2px solid #0a580a;
        align-items: center;
        padding-top: 15px; }
        /* line 30, scss/about_us.scss */
        header div div:last-child table #call {
          font-size: 10px; }
        /* line 33, scss/about_us.scss */
        header div div:last-child table .fa-phone-volume {
          color: #0a580a;
          font-size: 30px; }

/* line 41, scss/about_us.scss */
#number {
  font-weight: bold;
  font-size: 16px;
  color: #5c5555; }

/* line 46, scss/about_us.scss */
.fa-toggle-off {
  color: #0a580a;
  font-size: 25px;
  margin-left: 40px; }

/* line 53, scss/about_us.scss */
section div {
  border: solid 1px black;
  background-color: #0a580a;
  background: url("../src/assets/img/hands.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  height: 250px; }
