/* line 3, scss/about_us.scss */
body {
  font-family: 'Spartan', sans-serif; }

/* line 6, scss/about_us.scss */
header {
  background-color: rgba(255, 255, 255, 0.966);
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 70px;
  align-items: center; }
  /* line 13, scss/about_us.scss */
  header div {
    border: 1px solid black; }
    /* line 15, scss/about_us.scss */
    header div :first-child {
      margin-left: 40px; }
    /* line 18, scss/about_us.scss */
    header div div:nth-child(2) {
      color: #aa2a2a; }
    /* line 21, scss/about_us.scss */
    header div div:last-child {
      color: #5c5555; }

/* line 26, scss/about_us.scss */
#number {
  font-weight: bold;
  font-size: 16px;
  color: #5c5555; }

/* line 31, scss/about_us.scss */
.fa-phone-volume {
  color: #0a580a; }

/* line 34, scss/about_us.scss */
.fa-toggle-off {
  color: #0a580a;
  font-size: 25px; }

/* line 38, scss/about_us.scss */
section {
  border: solid 1px black;
  background-image: url("../src/assets/img/hands.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
